# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 40462a6c7a09d4b400811efa8ee98cfd77272f3eb626e3b5eae4d68f902eef04c4d35bf2eec8f142363b4fd0f55433eed6b1ae94da6fe68a6b940e4050a78e3d

test:
  secret_key_base: d8daa4ea891a9fe4b4826fd28de7222bb48feb10b98a864ec7cb93da18889c041411d714bf93c544ce18cb8c336b45ab1f8a9b466dc7d34aef0d8e6442204956

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
